<template>
	<view>
		<view class="search_result">
			<uni-search-bar 
			:value="placeholder" 
			bgColor="#EEEEEE" 
			cancelButton="none" 
			radius="50"
			@confirm="resultSearch"
			style="width: 680rpx;"
			/>
			<image src="@/static/images/icon/search-col2.png"
				style="width: 42rpx;height: 42rpx;margin-top: 35rpx;"
				@click="search_switch"
			></image>
		</view>
		<!-- tab切换 -->
		 <uni-segmented-control 
		 :current="current" 
		 :values="items" 
		 @clickItem="onClickItem" 
		 styleType="button" 
		 class="uniSeg"
		 >
			 
		 </uni-segmented-control>
		<view class="content">
		        <view v-show="current === 0">
					<view :class="show_class">
						<dl v-for="item in resultList" :key="item.prodId" :class="">
							<dt>
								<image :src="item.pic"></image>
							</dt>
							<dd>
								<view class="show_one">
									{{item.prodName}}
								</view>
								<view class="show_two">
									{{item.prodCommNumber}}评价{{item.praiseNumber}}%好评
								</view>
								<view class="show_three">
									¥{{item.price}}
								</view>
							</dd>
						</dl>
					</view>
		        </view>
		        <view v-show="current === 1">
		                <view :class="show_class">
		                	<dl v-for="item in resultList" :key="item.prodId" :class="">
		                		<dt>
		                			<image :src="item.pic"></image>
		                		</dt>
		                		<dd>
		                			<view class="show_one">
		                				{{item.prodName}}
		                			</view>
		                			<view class="show_two">
										{{item.prodCommNumber}}评价{{item.praiseNumber}}%好评
		                			</view>
		                			<view class="show_three">
		                				¥{{item.price}}
		                			</view>
								</dd>
		                	</dl>
		                </view>
		        </view>
		        <view v-show="current === 2">
		                <view :class="show_class">
		                	<dl v-for="item in resultList" :key="item.prodId" :class="">
		                		<dt>
		                			<image :src="item.pic"></image>
		                		</dt>
		                		<dd>
		                			<view class="show_one">
		                				{{item.prodName}}
		                			</view>
		                			<view class="show_two">
		                				{{item.prodCommNumber}}评价{{item.praiseNumber}}%好评
		                			</view>
		                			<view class="show_three">
		                				¥{{item.price}}
		                			</view>
		                		</dd>
		                	</dl>
		                </view>
				</view>
		</view>
	</view>
</template>

<script>
	import {searchProdPage} from "@/api/modules/search.js";
	export default {
		data() {
			return {
				placeholder:'',
				//搜索结果数组
				resultList:[],
				items: ['综合','销量',  '价格'],
				current: 0,
				show_class:"show_dl",
				currents:1,
				sort:0
			};
		},
		created(){
			setTimeout(()=>{
				this.resultSearchProdPage()
			},0)
			
		},
		methods:{
			//接收
			onLoad: function ({val}) { //option为object类型，会序列化上个页面传递的参数
					this.placeholder=val
			},
			//回车搜索
			resultSearch(e){
				this.placeholder=e.value
				this.resultSearchProdPage()
			},
			//接口
			async resultSearchProdPage(){
				let res=await searchProdPage({
					prodName:this.placeholder,//店铺名称必传值
					current:this.currents,
					sort:this.sort
				});
				this.resultList=res.records;
				console.log(res);
			},
			//点击排序监听
			onClickItem(e) {
			      if (this.current != e.currentIndex) {
			        this.current = e.currentIndex;
			      };
				  if(e.currentIndex==1){
					this.currents=1;
					this.sort=1;
					this.resultSearchProdPage()
				  }else if(e.currentIndex==0){
					  this.currents=1;
					  this.sort=0;
					  this.resultSearchProdPage()
				  }else{
					  this.currents=1;
					  this.sort=2;
					  this.resultSearchProdPage()
				  }
			},
			//渲染样式切换
			search_switch(){
				if(this.show_class=="show_dl"){
					this.show_class="columns"
				}else{
					this.show_class="show_dl"
				}
			},
			
		}
	}
</script>

<style lang="scss" scoped>
	.search_result{
		width: 100%;
		display: flex;
	}
	//一排一个
	.show_dl{
		width: 98%;
		height: auto;
		margin: 15rpx;
		overflow: hidden;
		dl{
			height: auto;
			margin: 20rpx;
			border-radius: 20rpx;
			box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
			background-color: #fff;
			display: flex;
			dt{
				width: 170rpx;
				height: 170rpx;
				display: inline-block;
				margin: 30rpx;
				image{
					width: 170rpx;height: 170rpx;
				}
			}
		}
		
	}
	.show_one{
		font-size: 23rpx;
		margin: 18rpx 0 10rpx 0;
		height: 78rpx;
	}
	.show_two{
		font-size: 22rpx;
		color: #999;
		margin: 10rpx 0 20rpx 0;
	}
	.show_three{
		font-size: 28rpx;
		color: #eb2444;
		font-family: arial;
	}
	//一排两个
	.columns{
		width: 98%;
		height: auto;
		margin: 15rpx;
		overflow: hidden;
		background-color: #fff;
		dl{
			width: 345rpx;
			height: auto;
			margin: 20rpx 0 20rpx 20rpx;
			box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
			background-color: #fff;
			float: left;
			dt{
				width: 345rpx;
				height: 345rpx;
				image{
					width: 345rpx;height: 345rpx;
				}
			}
		}
	}
	
</style>
