<template>
  <view>
    <view v-if="isShow">
      <uni-search-bar
        placeholder="搜索"
        bgColor="#EEEEEE"
        readonly
        radius="50"
      />
    </view>
    <view v-else>
			<uni-search-bar placeholder="输入关键字搜索" bgColor="#EEEEEE" 
			@confirm="search" 
			@cancel="cancel" 
			cancelButton="always"
			:value="val"
			radius="50"
			/>
	</view>
  </view>
</template>

<script>
export default {
  props: {
    isShow: {
      type: Boolean,
      default: true,
    },
    val: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
  methods: {
	  //回车键
	search({value}){
		this.$emit("confirm",value)
		   uni.navigateTo({
		  			url: '/searchpkg/search-result/search-result?val='+value
		  	});
	},
    cancel(){
      	uni.navigateBack({
      		delta: 2
      	});
    },
  },
};
</script>

<style lang="scss">
	
</style>
