<template>
	<view class = "min-app">
		<view class = "nav">
			<!-- 左侧数据渲染 -->
			<view
			  v-for = "(item,index) in Navigation"
			  :key = "item.categoryId"
			  :class="item.categoryId == currentid?'current':''"
			  @click = "navSwitch(item.categoryId,index)"
			>
				<view class='classifytitle'>{{ item.categoryName }}</view>
			</view>
		</view>
		<view class = "dve">
			<!-- 顶部默认第一个图片 -->
			<image :src="Navigation[0].pic" v-if="flag"></image>
			<!-- 右侧图片数据 -->
			<image :src="lsit[index].pic" :class="isflag==true?'active':''"></image>


			<view class="dvetextone" v-if="flag">
				
				<view class="dvetextflexone">
					<view class="dvetextleftone">
						 <image  class="dvetextimgone" :src="tablist[num].pic"></image>
					</view>
				
					<view class="dvetextrightone">
						<view class="prodNametitle11">{{tablist[num].prodName}}</view>
						<view class="prodNametitle22">{{tablist[num].brief}}</view>
						<view class="prodNameManey3">￥{{tablist[num].price}}.00</view>
					</view>
				</view>
			</view>
		
			<!-- 右侧图片及数据内容 -->
			<view class="dvetext" v-for="(item,index) in tablist" :key="item.categoryId" v-if="!flag">
				
				<view class="dvetextflex">
					<!-- 右侧数据内容的图片 -->
					<view class="dvetextleft">
						 <image  class="dvetextimg" :src="item.pic"></image>
					</view>
					<!-- 右侧数据内容 -->
					<view class="dvetextright">
						<view class="prodNametitle1">{{item.prodName}}</view>
						<view class="prodNametitle2">{{item.brief}}</view>
						<view class="prodNameManey">￥{{item.price}}.00</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {category,prod} from "@/api/modules/classify.js"
	console.log(category,"category");
	export default {
		
		data() {
			return {
				num:4,
				tabflag:false,
				flag:true,
				isflag:true,
				lsit: [],
				index:0,
				currentid: 85,
				Navigation: [],
				tablist:[],
				tabdata:[],
				tabtitledata:[]
			}
		},
		async created(){
			let res=await category()
			let proddata=await prod()
			this.Navigation=res
			this.tablist=proddata.records
		},
		onLoad() {
			
		},
		methods: {
			navSwitch(id,index){
				this.flag=false
				this.isflag=false
				this.tabflag=true
			     this.currentid = id;
				 this.getinit()
				 let data = JSON.parse(JSON.stringify(this.Navigation.filter((e) => e.categoryId == id)))
				 this.lsit=data
				 let tablistdata = JSON.parse(JSON.stringify(this.tablist.filter((e) => e.categoryId == id)))
				 this.tabdata=tablistdata
				 console.log(this.lsit,"this.lsit5161355");
				 console.log(this.tabdata,"this.tabdata");
			},
			async getinit(){
				let res=await category({
					categoryId:this.currentid
				})
				let filterdata=await prod({
					categoryId:this.currentid
				})
				this.tablist=filterdata.records;
				console.log(this.tablist,"this.tablist");
			},
		},
	}
</script>

<style lang="scss" scoped>
	page{
		height: 100%;
		width: 100%;
	}
	.min-app{
		height: 100%;
		display: flex;
	}
	.min-app .nav{
		width: 200rpx;
		height: 100%;
		border-right: 1px solid #eee;
		position: sticky;
		top: 0;
	}
	.min-app .nav view{
		display: block;
		text-align: center;
		width: 100%;
		height: 60px;
		line-height: 60px;
		color: #333333;
		font-size: 30rpx;
		border-top: 1px solid #fff;
		text-align: center;
	}
	.min-app .nav .current {
		background-color: white;
		color: red;
		.classifytitle{
			font-weight: 900;
			border-left: 2px solid red;
			color: red;
			width: 100%;
			height: 20px;
			line-height: 20px;
			margin-top: 20px;
			text-align: center;
		}
	}
	.dve{
		flex: 1;
		align-items: center;
		display: flex;
		flex-direction:column;
		.active{
			display: none;
		}
		.dvetext{
			margin-top: 10px;
			width: 90%;
			height: 70px;
			.dvetextflex{
				display: flex;
				.dvetextleft{
					width: 30%;
					height: 70px;
					.dvetextimg{
						width: 100%;
						height: 100%;
						margin-top: 0px;
					}
				}
				.dvetextright{
					width: 65%;
					height: 70px;
					margin-left: 5px;
					.prodNametitle1{
						width: 148px;
						overflow: hidden;
						text-overflow: ellipsis; //文本溢出显示省略号
						white-space: nowrap; //文本不会换行
					}
					.prodNametitle2{
						width: 148px;
						font-size: 12px;
						overflow: hidden;
						text-overflow: ellipsis; //文本溢出显示省略号
						white-space: nowrap; //文本不会换行
					}
					.prodNameManey{
						color: red;
					}
				}
			}
		}
		.dvetextone{
			margin-top: 10px;
			width: 90%;
			height: 70px;
			.dvetextflexone{
				display: flex;
				.dvetextleftone{
					width: 30%;
					height: 70px;
					.dvetextimgone{
						width: 100%;
						height: 100%;
						margin-top: 0px;
					}
				}
				.dvetextrightone{
					width: 65%;
					height: 70px;
					margin-left: 5px;
					.prodNametitle11{
						width: 148px;
						overflow: hidden;
						text-overflow: ellipsis; //文本溢出显示省略号
						white-space: nowrap; //文本不会换行
					}
					.prodNametitle22{
						width: 148px;
						font-size: 12px;
						overflow: hidden;
						text-overflow: ellipsis; //文本溢出显示省略号
						white-space: nowrap; //文本不会换行
					}
					.prodNameManey3{
						color: red;
					}
				}
			}
			
		}
	}
	.dve image{
		width: 90%;
		height: 140rpx;
		margin-top: 10px;
	}
</style>
