<template>
	<view>
		<view class="setbackground">
			<uni-segmented-control :current="current" :values="items" @clickItem="onClickItem" styleType="text"
				activeColor="#dd524d"></uni-segmented-control>
		</view>
		<!-- <view class="content" v-if="">
			<view v-show="current === 0">
				选项卡1的内容
			</view>
			<view v-show="current === 1">
				选项卡2的内容
			</view>
			<view v-show="current === 2">
				选项卡3的内容
			</view>
			<view v-show="current === 3">
				选项卡3的内容
			</view>
			<view v-show="current === 4">
				选项卡3的内容
			</view>
		</view> -->
		<view class="order-list-error">
			<view>
				还没有相关订单
			</view>
			
		</view>
	</view>
</template>

<script>
	export default {
		components: {},
		data() {
			return {
				items: ['全部', '待支付', '待发货', '待收货', '已完成'],
				current: 0
			}
		},
		methods: {
			onClickItem(e) {
				if (this.current != e.currentIndex) {
					this.current = e.currentIndex;
				}
			}
		},
		// 接收跳转传参
		onLoad: function(option) { //option为object类型，会序列化上个页面传递的参数
			// console.log(option)
			this.items.forEach((item, index) => {
				if (item == option.type) {
					this.current = index
				}
			})
		},

	}
</script>

<style lang="scss">
	.setbackground {
		background: #ffffff !important;
		width: 100%;
		height: 40px;
	}
	.order-list-error{
		font-size: 10px;
		display: flex;
		justify-content: space-around;
		color: #888888;
		margin-top: 100px;
	}
</style>
