<template>
  <view>
    <MyLogin></MyLogin>
    <view class="show-top">
      <view> 绑定手机号后可查看订单和领取优惠券 </view>
      <a href="">去绑定</a>
    </view>
    <!-- 订单组件 -->
    <view class="userinfo-order">
      <view> 我的订单 </view>
      <view @click="orderlistall">
        查看全部<cover-image
          src="../../static/images/icon/more.png"
          class="userinfo-order-img"
        ></cover-image>
      </view>
    </view>
    <view class="userinfo-nav">
      <UserinfoMessage
        src="../../static/images/icon/toPay.png"
        title="待支付"
        :flag="true"
      ></UserinfoMessage>
      <UserinfoMessage
        src="../../static/images/icon/toDelivery.png"
        title="待发货"
        :flag="true"
      ></UserinfoMessage>
      <UserinfoMessage
        src="../../static/images/icon/toTake.png"
        title="待收货"
        :flag="true"
      ></UserinfoMessage>
      <UserinfoMessage
        src="../../static/images/icon/toComment.png"
        title="已完成"
        :flag="true"
      ></UserinfoMessage>
    </view>
    <!-- 消息组件 -->
    <view class="userinfo-message">
      <view class="userinfo-awite">
        <UserinfoMessage
          src="0"
          title="我的收藏"
          :flag="false"
        ></UserinfoMessage>
      </view>
      <view class="userinfo-awite">
        <UserinfoMessage
          src="5"
          title="我的消息"
          :flag="false"
        ></UserinfoMessage>
      </view>
      <view class="userinfo-awite">
        <UserinfoMessage
          src="3"
          title="我的足迹"
          :flag="false"
        ></UserinfoMessage>
      </view>
      <view class="userinfo-awite">
        <UserinfoMessage
          src="0"
          title="我的积分"
          :flag="false"
        ></UserinfoMessage>
      </view>
    </view>
    <view class="userinfo-notice">
      <view class="userinfo-notice-box">
        <cover-image
          src="../../static/images/icon/myAddr.png"
          class="userinfo-notice-img"
        ></cover-image>
        <view> 收货地址 </view>
      </view>
      <cover-image
        src="../../static/images/icon/more.png"
        class="userinfo-order-img"
      ></cover-image>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {};
  },

  methods: {
    // 跳转全部页面
    orderlistall() {
      uni.navigateTo({
        url: `/orderlist/ordermessage/ordermessage?type='全部'`,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
// 订单组件
.show-top {
  background: #fff;
  font-size: 10px;
  display: flex;
  padding: 10px 20px;
  border-top: 1px solid #eeeeee;

  a {
    color: red;
  }
}

.userinfo-order {
  display: flex;
  background: #ffffff;
  margin-top: 8px;
  font-size: 13px;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .userinfo-order-img {
    width: 10px;
    height: 13px;
    display: inline-block;
  }
}

.userinfo-nav {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;

  .userinfo-awite {
    display: flex;
    flex-direction: column;
    align-items: center;

    // .userinfo-nav-img {
    // 	width: 30px;
    // 	height: 30px;
    // 	margin-bottom: 5px;
    // }
  }
}

// 消息组件
.userinfo-message {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  .userinfo-awite {
    display: flex;
    flex-direction: column;
    align-items: center;

    .userinfo-message-number {
      width: 30px;
      height: 30px;
      margin-bottom: 5px;
      display: block;
      text-align: center;
      margin: 0 auto;
      font-size: 16px;
      color: #4682b4;
      font-weight: 800;
    }
  }
}

.userinfo-notice {
  display: flex;
  background: #ffffff;
  margin-top: 8px;
  font-size: 13px;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .userinfo-order-img {
    width: 10px;
    height: 13px;
    display: inline-block;
  }

  .userinfo-notice-box {
    display: flex;
    align-items: center;
    font-size: 10px;

    .userinfo-notice-img {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 12px;
    }
  }
}
</style>
