<template>
	<view>
		<MyLogin @loginsucess='loginSucess'></MyLogin>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		},
		methods:{
			// 成功返回上一页
			loginSucess(){
				uni.navigateBack({
					delta:1
				})
			}
		}
	}
</script>

<style lang="scss">

</style>
