<template>
	<view class="detailIndex">
		<!-- 轮播 -->
		<view
		  class="uni-margin-wrap"
		  style="width: 100%; height: auto; background-color: white"
		>
		  <swiper
		    class="swiper"
		    circular
		    :indicator-dots="indicatorDots"
		    :autoplay="autoplay"
		    :interval="interval"
		    :duration="duration"
		    style="width: 100%; height: 415rpx"
		  >
		    <swiper-item
		      v-for="(item,index) in item.imgs"
		      key="index"
		      style="width: 100%; height: 415rpx"
		    >
		      <image
		        :src="item"
		        lazy-load
		        style="
		          width: 690rpx;
		          height: 402rpx;
		          margin: 0 30rpx;
		          border-radius: 8rpx;
		          box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
		        "
		      >
		      </image>
		    </swiper-item>
		  </swiper>
		</view> 
		<view class="detailIndex_content">
			<view class="content_left">
				<p>{{item.prodName}}</p>
				<p class="tag">{{item.brief}}</p>
				<h2>￥{{item.price}}</h2>
			</view>
			<view class="content_right">
				 <uni-icons class="icon" type="heart" size="23" color="red"></uni-icons> <br />
				 收藏
			</view>
		</view>
		
		
		<view class="goods-carts">
					<uni-goods-nav :options="options" :fill="true" :button-group="buttonGroup" @click="onClick"
						@buttonClick="buttonClick" />
				</view>
	</view>
</template>

<script>
	import {prodInfo} from "@/api/modules/home.js"
	export default {
		data() {
			return {
				item:{},
				id:0,
				background: ["color1", "color2", "color3"],
				indicatorDots: true,
				autoplay: true,
				interval: 3000,
				 options: [{
							icon: 'headphones',
							text: '客服'
						}, {
							icon: 'shop',
							text: '店铺',
							info: 2,
							infoBackgroundColor:'#007aff',
							infoColor:"red"
						}, {
							icon: 'cart',
							text: '购物车',
							info: 2
						}],
					    buttonGroup: [{
					      text: '加入购物车',
					      backgroundColor: '#ff0000',
					      color: '#fff'
					    },
					    {
					      text: '立即购买',
					      backgroundColor: '#ffa200',
					      color: '#fff'
					    }
					    ],
				duration: 1500,
			}
		},
		onLoad: function (option) {
		    //option为object类型，会序列化上个页面传递的参数
		    // decodeURIComponent() 方法用于解码由 encodeURIComponent 方法或者其它类似方法编码的部分统一资源标识符
		    this.id = option.id
		  },
		  mounted() {
		  	this.gitItem()
		  },
		  methods :{
			 async gitItem(){
				  const res=await prodInfo({
					  prodId:this.id
				  })
				  // 根据逗号切割字符串
				res.imgs= res.imgs.split(',')
				  this.item=res
				  console.log(this.item.imgs);
			  },
			  onClick (e) {
			  	    uni.showToast({
			  	      title: `点击${e.content.text}`,
			  	      icon: 'none'
			  	    })
			  	  },
			  	  buttonClick (e) {
			  	    console.log(e)
			  	    this.options[2].info++
			  	  }
		  }
	}
</script>

<style lang="scss" scoped>
	.detailIndex{
		width: 100%;
		height: 100vh;
		position: relative;
		.detailIndex_content{
			width: 100%;
			height: 150px;
			margin-top: 15px;
			display: flex;
			box-sizing: border-box;
			padding-left: 10px;
			font-size: 14px;
			.content_left{
				flex: 1;
				position: relative;
				p{
					border-right: 1px solid #ccc;
				}
				 .tag{
					 font-size: 10px;
					 color: #ccc;
					 margin-top: 5px;
					 border: 0;
				 }
				 h2{
					 margin-top: 10px;
					 // line-height: 30px;
					 color: orangered;
					 // font-weight: bold;
					 font-size: 18px;
				 }
			}
			.content_right{
				width: 50px;
				text-align: center;
			}
			
		}
	.goods-carts{
		width:100%;
		height: 50px;
        position: absolute;
		bottom: 0px ;
		 .uni-tab__cart-box{
			 width: 100%;
		 }
	}
	}


</style>
