<template>
  <view class="list__xin">
    <view class="info" v-for="item in list" :key="item.prodId">
      <view class="infoList">
        <image class="infoImg" :src="item.pic" mode=""></image>
        <h5>{{ item.prodName }}</h5>
        <p>{{ item.brief }}</p>
        <h3>￥{{ item.price }}</h3>
        <uni-icons class="icon" type="cart" size="23"></uni-icons>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      list: [],
    };
  },
  onLoad: function (option) {
    //option为object类型，会序列化上个页面传递的参数
    // decodeURIComponent() 方法用于解码由 encodeURIComponent 方法或者其它类似方法编码的部分统一资源标识符
    this.list = JSON.parse(decodeURIComponent(option.list));
  },
};
</script>

<style lang="scss" scoped>
.list__xin {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .info {
    width: 47%;
    margin-left: 1.5%;
    margin-top: 9px;
  }
}
.infoList {
  width: 100%;
  height: auto;
  padding: 5px 5px 15px 5px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 2px -2px #ecf3f8;
  .infoImg {
    width: 100%;
    height: 150px;
  }
  h5 {
    font-weight: 400;
    white-space: nowrap;
    /* 然后然溢出的部分文字隐藏 */
    overflow: hidden;
    /* 文字溢出显示用省略号。  */
    text-overflow: ellipsis;
    margin-top: 5px;
  }
  p {
    color: #ccc;
    font-size: 10px;
    line-height: 16px;
    height: 16px;
    box-sizing: border-box;
    padding: 0 5px;
    white-space: nowrap;
    /* 然后然溢出的部分文字隐藏 */
    overflow: hidden;
    /* 文字溢出显示用省略号。  */
    text-overflow: ellipsis;
  }
  h3 {
    color: orangered;
    font-weight: 500;
  }
  .icon {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
}
</style>
