<template>
  <view>
    <view @click="search_but">
      <my-search :isShow="true"></my-search>
    </view>
    <!-- 轮播 -->
    <view
      class="uni-margin-wrap"
      style="width: 100%; height: auto; background-color: white"
    >
      <swiper
        class="swiper"
        circular
        :indicator-dots="indicatorDots"
        :autoplay="autoplay"
        :interval="interval"
        :duration="duration"
        style="width: 100%; height: 415rpx"
      >
        <swiper-item
          v-for="item in imglist"
          key="index"
          style="width: 100%; height: 415rpx"
        >
          <image
            :src="item.imgUrl"
            lazy-load
            style="
              width: 690rpx;
              height: 402rpx;
              margin: 0 30rpx;
              border-radius: 8rpx;
              box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
            "
          >
          </image>
        </swiper-item>
      </swiper>
    </view>
    <!-- 列表的结构 -->
    <view class="newProd">
      <dl class="newProd_dl">
        <dt>
          <image
            src="../../static/images/icon/newProd.png"
            style="width: 75rpx; height: 75rpx; margin: 20rpx 0 30rpx 0"
          ></image>
        </dt>
        <dd style="font-size: 26rpx">同城帮帮</dd>
      </dl>
      <dl class="newProd_dl">
        <dt>
          <image
            src="../../static/images/icon/timePrice.png"
            style="width: 75rpx; height: 75rpx; margin: 20rpx 0 30rpx 0"
          ></image>
        </dt>
        <dd style="font-size: 26rpx">限时特惠</dd>
      </dl>
      <dl class="newProd_dl">
        <dt>
          <image
            src="../../static/images/icon/neweveryday.png"
            style="width: 75rpx; height: 75rpx; margin: 20rpx 0 30rpx 0"
          ></image>
        </dt>
        <dd style="font-size: 26rpx">每日分享</dd>
      </dl>
    </view>
    <!-- 通知 -->
    <view class="noticeList">
      <image
        src="../../static/images/icon/horn.png"
        style="
          width: 77rpx;
          height: 36rpx;
          position: absolute;
          left: 20rpx;
          top: 27rpx;
        "
      ></image>
      <!-- <view > -->
      <swiper
        class="swipers"
        circular
        vertical="true"
        duration="1500"
        :indicator-dots="false"
        :autoplay="autoplay"
        interval="3000"
      >
        <swiper-item
          v-for="item in noticeList"
          :key="item.id"
          style="font-size: 26rpx; font-weight: bold"
        >
          {{ item.title }}
        </swiper-item>
      </swiper>
      <!-- </view> -->
      <image
        src="../../static/images/icon/more.png"
        style="
          width: 25rpx;
          height: 25rpx;
          position: absolute;
          right: 30rpx;
          top: 32rpx;
        "
      ></image>
    </view>
    <view class="list">
      <uni-section title="商城热卖" type="line">
        <ListItem
          v-for="item in list"
          :key="item.prodId"
          :item="item"
        ></ListItem>
      </uni-section>
    </view>
    <view class="list">
      <view class="list__header">
        每日上新 <view class="span" @click="newHandleClick">更多></view>
      </view>
      <view class="list__xin">
        <view class="info" v-for="item in list" :key="item.prodId" :item="item">
          <ListInfo :item="item"></ListInfo>
        </view>
      </view>
    </view>
    <view class="list">
      <view class="list__header">
        更多宝贝 <view class="span" @click="handleClick">更多></view>
      </view>
      <view class="list__xin">
        <view
          class="info"
          v-for="item in newList"
          :key="item.prodId"
          :item="item"
        >
          <ListInfo :item="item"></ListInfo>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { indexImg, prodListByTag, topNoticeList } from "@/api/modules/home.js";
import ListItem from "@/components/ListItem/index.vue";
import ListInfo from "@/components/ListInfo/index.vue";
export default {
  data() {
    return {
      background: ["color1", "color2", "color3"],
      indicatorDots: true,
      autoplay: true,
      interval: 3000,
      duration: 1500,
      imglist: [], //轮播图的数组
      list: [], //列表的数组
      tagId: 2, //当前是第几页
      size: 6, //一页是多少
      pages: 1, //一共是多少页
      cover: "../../static/tupianjiazaishibai.png",
      extraIcon: {
        color: "#4cd964",
        size: "22",
        type: "gear-filled",
      },
      //通知
      noticeList: [],
      newList: [],
    };
  },
  components: {
    ListItem,
    ListInfo,
  },
  async created() {
    let res = await indexImg();
    this.imglist = res;
    this.getinit();
  },
  onPullDownRefresh() {
    this.tagId = 1;
    this.pages = 1;
    this.size = 6;
    this.list = [];
    this.getinit();
  },

  methods: {
    async getinit() {
      let res = await prodListByTag({
        tagId: this.tagId,
        size: this.size,
      });
      let res1 = await topNoticeList();
      let res2 = await prodListByTag({
        tagId: 3,
        size: this.size,
      });

      this.noticeList = res1;
      this.newList = res2.records;
      this.list = this.list.concat(res.records);
      this.pages = res.pages;
    },
    // 搜索跳转
    search_but() {
      uni.navigateTo({
        url: "/searchpkg/search/search",
      });
    },

    handleClick() {
      uni.navigateTo({
        // encodeURIComponent() 函数通过将一个，两个，三个或四个表示字符的 UTF-8
        // 编码的转义序列替换某些字符的每个实例来编码 URI（对于由两个“代理”字符组成的字符而言，
        // 将仅是四个转义序列）。
        url:
          `/moreandmore/moreIndex/moreIndex?list=` +
          encodeURIComponent(JSON.stringify(this.list)),
      });
    },
    newHandleClick() {
      uni.navigateTo({
        url:
          `/moreandmore/newMore/newMore?list=` +
          encodeURIComponent(JSON.stringify(this.newList)),
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.newProd {
  width: 100%;
  height: auto;
  margin: 20rpx 0 30rpx 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.newProd_dl {
  flex: 1;
  text-align: center;
  overflow: hidden;
}
.noticeList {
  width: 100%;
  height: 90rpx;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.swipers {
  display: inline-block;
  line-height: 90rpx;
  width: 293px;
  height: 90rpx;
  margin-left: 100rpx;
}
.list__xin {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .info {
    width: 47%;
    margin-left: 1.5%;
    margin-top: 9px;
  }
}
.list__header {
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 8px 15px;
  font-size: 18px;
  color: #666;
  .span {
    float: right;
    font-size: 12px;
    margin-right: 5px;
  }
}
</style>
