<template>
	<view>
		<button @click="gotocall">登录</button>
	</view>
</template>

<script>
	import {
		mapActions
	} from "vuex"
	export default {
		data() {
			return {

			};
		},
		methods: {
			...mapActions('user', ['isLogin']),
			async gotocall() {
				let res = await this.isLogin()
				console.log(res)
			}
		}
	}
</script>

<style lang="scss"></style>
