<template>
	<view>
		<!-- 头像和昵称 -->
		<view class='userinfo' v-if="!token">
			<view class='userinfo-avatar'>
				<cover-image src='../../static/images/icon/logo.png'></cover-image>
			</view>
			<view class='userinfo-name'>
				<button class="setlogin" @click="getUserProfile" size="size" type="primary">还未登录，去登录</button>
			</view>
		</view>
		<view class='userinfo' v-else>
			<view class='userinfo-avatar'>
				<!-- 用于展示微信开放的数据。userAvatarUrl用户头像 -->
				<cover-image :src='userinfo.avatarUrl'></cover-image>
			</view>
			<view class='userinfo-name'>
				<!-- 用于展示微信开放的数据。userNickName用户昵称 -->
				<view class="nickname">
					{{userinfo.nickName}}
				</view>
				<button @click="cancellogin" size="size" type="warn" class="setlogin">退出登录</button>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		mapActions,
		mapState,
		mapMutations
	} from "vuex"
	export default {
		name: "MyLogin",
		data() {
			return {

			};
		},
		computed: {
			...mapState('user', ['userinfo', 'token'])
		},
		methods: {
			...mapActions('user', ['getToken']),
			...mapMutations('user', ['clearlogininfo']),
			cancellogin() {
				this.clearlogininfo()
			},
			getUserProfile() {
				uni.getUserProfile({ //用户授权
					desc: "用户获取信息",
					success: res => {
						//console.log(res, "user")
						uni.login({ //获取登录凭证
							success: async (res1) => {
								//console.log(res1, "res1");
								//传递code码和用户信息
								await this.getToken({
									code: res1.code,
									userinfo: res.userInfo
								})
								// 成功通知父组件
								this.$emit('loginsucess')
							}
						});
					},
					fail: err => {
						//console.log(err, "err")
						uni.showToast({
							title: "用户拒绝访问",
							icon: 'cancel'
						})
					}
				})
			},
			orderlistall() {
				uni.navigateTo({
					url: `/orderlist/ordermessage/ordermessage?type='全部'`
				})
			}
		}
	}
</script>

<style lang="scss">
	// 头像和昵称
	.userinfo {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: #fff;

		.userinfo-avatar {
			margin-top: 15px;
			width: 70px;
			overflow: hidden;
			height: 70px;
			border-radius: 50%;
			box-shadow: 5px 0px 6px 0 #eee;
		}

		.userinfo-name {
			font-size: 13px;
			font-weight: bold;
			margin: 10px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center
		}

		.setlogin {
			font-size: 10px;
			margin-top: 10px;
		}
	}
</style>
