<template>
	<view>
		<view class="userinfo-awite" @click="gotoorderlist">
			<cover-image :src=src class="userinfo-nav-img" v-if="flag"></cover-image>
			<view class="userinfo-message-number" v-else>
				{{src}}
			</view>
			<view>
				{{title}}
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name: "UserinfoMessage",
		props: {
			// 文本
			title: {
				type: String
			},
			// 图标
			src: {
				type: String
			},
			// 判断是否是图标
			flag: {
				type: Boolean
			},
		},
		data() {
			return {

			};
		},
		methods: {
			gotoorderlist() {
				if(this.flag){
					// 跳转订单列表页面
					uni.navigateTo({
						url: `/orderlist/ordermessage/ordermessage?type=${this.title}`
					})
				}
				
			}
		}
	}
</script>

<style lang="scss">
	.userinfo-nav-img {
		width: 30px;
		height: 30px;
		margin-bottom: 5px;
	}

	.userinfo-message-number {
		width: 30px;
		height: 30px;
		margin-bottom: 5px;
		display: block;
		text-align: center;
		margin: 0 auto;
		font-size: 16px;
		color: #4682B4;
		font-weight: 800;
	}
</style>
