<template>
	<view style="background-color: white;overflow: hidden;">
		<my-search :isShow="false" :val="val" @confirm="ChangeSearch"></my-search>
		<view class="hot_search" style="100%;height: auto;background-color: white;margin-top: 20rpx;">
			<h3 style="width: 100%;height: 50px;line-height: 50px;padding-left: 25rpx;color: #666;">热门搜索</h3>
			<ul class="hou_ul">
				<li class="hou_li" v-for="item in hotList" key="item.hotSearchId">{{item.title}}</li>
			</ul>
		</view>
		<view class="search_history" style="width:96%;margin: 20rpx 0 0 15rpx;">
			<h3 style="width: 100%;height: 50px;line-height: 50px;padding-left: 25rpx;color: #666;position: relative;">
				搜索历史
				<image src="../../static/images/icon/clear-his.png"  @click="historyDel"
				style="width: 32rpx;height: 32rpx;position: absolute;right: 30rpx;top: 30rpx;"
				>
				</image>
			</h3>
			<ul class="search_ul" style="width: 100%;">
				<li class="search_li" v-for="item in historyList" :key="index">{{item}}</li>
			</ul>
		</view>
	</view>
</template>

<script>
	import {hotSearchByShopId} from "@/api/modules/search.js"
	export default {
		data() {
			return {
				hotList:[],
				val:'',
				historyList:uni.getStorageSync('historylist')||[]
			};
		},
		created() {
			this.search_hot()
		},
		methods:{
			async search_hot(){
				let res=await hotSearchByShopId({
					number:10,
					shopId:1,
					sort:1
				})
				this.hotList=res;
			},
			ChangeSearch(val){
				this.saveStorage(val)
			},
			saveStorage(val){
				//是否已经存在
				let ind=this.historyList.findIndex(item => item==val)
				if(ind!==-1){
					this.historyList.splice(ind,1)
				}
				this.historyList.unshift(val)
				uni.setStorageSync('historylist',this.historyList)
			},
			//删除
			historyDel(){
				uni.clearStorageSync('historylist')
			}
		}
	}
</script>

<style lang="scss" scoped>
	.hou_ul{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		font-size: 26rpx;
		
	}
	.hou_li{
		padding: 10rpx 30rpx;
		margin:20rpx;
		box-sizing: border-box;
		background-color: #f2f2f2;
		border-radius: 50rpx;
	}
	.search_history{
		border-top: 1px solid #ccc;
		height: 760rpx;
		background-color: white;
	}
	.search_ul{
		display: flex;
		flex-wrap: wrap;
		font-size: 26rpx;
	}
	.search_li{
		border-radius: 50rpx;
		background-color: #f2f2f2;
		margin:0 20rpx 20rpx 0;
		padding: 10rpx 30rpx;
	}
</style>
