<template>
  <uni-card
    :title="item.prodName"
    :sub-title="item.price"
    :thumbnail="item.pic"
    :is-shadow="false"
	 @click="clickDetail"
    :zhengTitle="item.brief"
  >
    <!-- <text class="uni-body">这是一个带头像和双标题的基础卡片，此示例展示了一个完整的卡片。</text> -->
    <uni-icons type="cart" size="23"></uni-icons>
  </uni-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
    },
  },
  methods: {
   
    actionsClick(text) {
      uni.showToast({
        title: text,
        icon: "none",
      });
    },
 clickDetail(e){
	  console.log(e);
			  uni.navigateTo({
			    // encodeURIComponent() 函数通过将一个，两个，三个或四个表示字符的 UTF-8
			    // 编码的转义序列替换某些字符的每个实例来编码 URI（对于由两个“代理”字符组成的字符而言，
			    // 将仅是四个转义序列）。
			    url:
			      `/detailList/detailIndex/detailIndex?id=` + this.item.prodId,
			  });
		  }
  },
};
</script>

<style lang="scss">
::v-deep .uni-card__header-avatar-image {
  width: 100px !important;
}
</style>
