<template>
  <view class="infoList" @click="clickDetail">
    <image class="infoImg" :src="item.pic" mode=""></image>
    <h5>{{ item.prodName }}</h5>
    <p>{{ item.brief }}</p>
    <h3>￥{{ item.price }}</h3>
    <uni-icons class="icon" type="cart" size="23"></uni-icons>
  </view>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
    },
    errorRendes: {
      type: Function,
    },
  },
  methods: {
	  clickDetail(){
		  uni.navigateTo({
		    // encodeURIComponent() 函数通过将一个，两个，三个或四个表示字符的 UTF-8
		    // 编码的转义序列替换某些字符的每个实例来编码 URI（对于由两个“代理”字符组成的字符而言，
		    // 将仅是四个转义序列）。
		    url:
		      `/detailList/detailIndex/detailIndex?id=` + this.item.prodId,
		  });
	  }
  },
  data() {
    return {
      cover: "../../static/tupianjiazaishibai.png",
    };
  },
};
</script>

<style lang="scss" scoped>
.infoList {
  width: 100%;
  height: auto;
  padding: 5px 5px 15px 5px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 2px -2px #ecf3f8;
  .infoImg {
    width: 100%;
    height: 150px;
  }
  h5 {
    font-weight: 400;
    white-space: nowrap;
    /* 然后然溢出的部分文字隐藏 */
    overflow: hidden;
    /* 文字溢出显示用省略号。  */
    text-overflow: ellipsis;
    margin-top: 5px;
  }
  p {
    color: #ccc;
    font-size: 10px;
    line-height: 16px;
    height: 16px;
    box-sizing: border-box;
    padding: 0 5px;
    white-space: nowrap;
    /* 然后然溢出的部分文字隐藏 */
    overflow: hidden;
    /* 文字溢出显示用省略号。  */
    text-overflow: ellipsis;
  }
  h3 {
    color: orangered;
    font-weight: 500;
  }
  .icon {
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
}
</style>
